// Fichero .RC con los recursos
TGMMap          	BITMAP  "GMMap.bmp"
TGMMapChr       	BITMAP  "GMMapChr.bmp"
TGMMarker       	BITMAP  "GMMarker.bmp"
TGMInfoWindow   	BITMAP  "GMInfoWindow.bmp"
TGMPolyline     	BITMAP  "GMPolyline.bmp"
TGMPolygon      	BITMAP  "GMPolygon.bmp"
TGMRectangle    	BITMAP  "GMRectangle.bmp"
TGMCircle       	BITMAP  "GMCircle.bmp"
TGMGeoCode      	BITMAP  "GMGeoCode.bmp"
TGMDirection    	BITMAP  "GMDirection.bmp"
TGMElevation    	BITMAP  "GMElevation.bmp"
TGMGroundOverlay	BITMAP	"GMGroundOverlay.bmp"
TGMHeatmap			BITMAP	"GMHeatmap.bmp"